<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="{{site.baseurl}}/css/minimal.css" rel="stylesheet" />
    <!-- See https://www.quora.com/How-can-I-combine-an-AND-and-a-NOT-in-Liquid for more. -->
  <style type="text/css">
    {% unless page.tags contains "japanese" %}
      {% if page.tags contains "math" %}
        #content {
          font-family: Baskerville, Garamond, serif;
        }
      {% endif %}
    {% endunless %}

    {% unless page.tags contains "math" %}
      #content {
        font-family: Arial, sans-serif;
      }
    {% endunless %}

    {% if page.tags contains "math" and page.tags contains "japanese" %}
      #content {
        font-family: Arial, sans-serif;
      }
    {% endif %}
  </style>
  {% if page.math == 'yes' %}
  {% include mathjax.html %}
  {% endif %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54694473-1', 'auto');
    ga('send', 'pageview');

  </script>
  <title>{{page.title}}</title>
</head>
<body>

<div id="navigation">
{% include navigation.html %}
</div>

<div id="content">
<h1>{{page.title}}</h1>
{{content}}
{% if page.last-major-revision-date %}
<p>Date of last major revision: {{page.last-major-revision-date}}.</p>
{% endif %}

{% if page.license == 'CC-BY' %}
{% include CC-BY.html %}
{% endif %}
</div>

{% if page.comments == 'yes' %}
{% include disqus.html %}
{% endif %}

</body>
</html>
